.altertable-app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
.altertable-app-main {
  display: grid;
  align-content: start;
  gap: var(
    --atbl-layout-gap,
    clamp(var(--atbl-space-md), 2.5vw, var(--atbl-space-lg))
  );
  min-width: 0;
  width: min(100% - 48px, var(--atbl-content-width));
  margin-inline: auto;
  padding: var(
      --atbl-layout-gap,
      clamp(var(--atbl-space-md), 2.5vw, var(--atbl-space-lg))
    )
    0 calc(2 * var(--atbl-space-xl));
}
.altertable-app-body {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(
    --atbl-layout-gap,
    clamp(var(--atbl-space-md), 2.5vw, var(--atbl-space-lg))
  );
  min-width: 0;
}
.altertable-app-main > *,
.altertable-app-body > * {
  margin: 0;
}
.altertable-app-footer {
  margin-top: auto;
}
@media (max-width: 600px) {
  .altertable-app-main {
    width: min(100% - 32px, var(--atbl-content-width));
  }
}
