.altertable-variable-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--atbl-space-sm);
  min-width: 0;
}
.altertable-variable-bar > * {
  max-width: 100%;
  min-width: 0;
}
