[data-atbl-control='action'],
[data-atbl-internal-prose] a {
  cursor: var(--atbl-cursor-action);
}
[data-atbl-control='help'] {
  cursor: var(--atbl-cursor-help);
}
[data-atbl-control='text'] {
  cursor: text;
}
[data-atbl-control]:is(
  :disabled,
  [data-disabled],
  [aria-disabled='true'],
  [data-unavailable]
),
[data-atbl-control]:has(> input:disabled) {
  cursor: var(--atbl-cursor-disabled);
}
